<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Movies List</title>
</head>
<body>
  <h1>Movies List</h1>

  <ul>
    <!-- Loop through `movies` and render each item inside a <li> element -->
    <% movies.forEach(movie => { %>
      <li><%= movie.title %></li>
    <% }) %>
  </ul>
</body>
</html>
